.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 45px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 54%);
  box-shadow: 1px 1px 1px 1px #000000;
  margin: 0.3rem;
  transition: 0.5s;
}

.itemName:hover {
  cursor: pointer;
  color: darkkhaki;
}
.itemName {
  color: white;
  font-size: 1.5rem;
}

.selected {
  color: #f9fb9e;
}
