.shopping-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 295px;
}

.shopping-list__wrapper > p {
  text-shadow: 2px 2px #000000;
  font-size: 30px;
  color: #f9fb9e;
  margin: 5px;
}
.material-list {
  display: flex;
  flex-direction: column;
}
.horizontal-line {
  width: 80%;
  height: 0px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.44);
}

.empty-list {
  text-shadow: none !important;
  font-size: 16px !important;
  margin: 16px !important;
  color: #00000063 !important;
}

.reset {
  position: absolute !important;
  margin: 0 !important;
  color: rgb(236, 127, 127) !important;
  font-size: 16px !important;
  align-self: flex-end !important;
  text-align: end !important;
  padding-left: 5px;
}

.reset:hover {
  cursor: pointer;
}
